/* Definindo a fonte e o tamanho do body  */
body{
    font-family: 'Poppins', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
}

main:after{
    content: '';
    min-height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,0.5) 0%, rgba(255,255,255,0.1) 49%, rgba(0,0,0,0.5) 100%);
z-index: -1;
}

.conteudo{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-evenly;
}

.informacoes .logo{
    max-width: 350px;
    filter: invert(1);
    margin-bottom: 80px;
}

.informacoes .descricao{
    width: 49%;
    font-size: 24px;
    color: #ffff;
    line-height: 30px;
    display: none;
}

.descricao.ativo{
    display: block;
}

.botoes-carrossel{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.botoes-carrossel .botao{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid transparent;
    cursor: pointer;
    border-color: #ffff;
}

.botoes-carrossel .botao.selecionado{
    background-color: black;
}

.menu-lateral{
    position: fixed;
    top: 0;
    right: 0;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.menu-lateral ul{
    display: flex;
    flex-direction: column; /*define o flex para alinhar os icones em coluna*/
    gap: 15px; /*espaçamento entre os icones*/
}

.menu-lateral .icon{
    width: 30px; /*tamanho dos icones*/
    filter: invert(); /* inverter as cores dos icones*/
    transition: 0.3s ease-in-out; /*animação do icone aumentando*/
}

.menu-lateral .icon:hover{
    transform: scale(1.2); /*o quanto o icone aumenta quando passa o mouse*/
}

.carrosel{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1; /*colocar a imagem por baixo*/
}

.carrosel .imagem{
    width: 100%;
    height: 100vh;
    object-fit: cover; /*ajustar a imagem ao tamanho da tela*/
    display: none; /*esconder as imagens para usar no JS*/
    animation: mudarImagem 0.7s; /*animação ao passar a imagem*/
}

.carrosel .imagem.ativa{
    display: block;
}

@keyframes mudarImagem{ /*definir a opacidade da animação*/
    from{
        opacity: 0.85;
    }to{
        opacity: 1;
    }
}